# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.dart_tool/
.packages
.pub/
.pub-cache/
.pub-data/
.settings/
.vscode/
.idea/
*.iml
*.iws
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
**/android/key.properties
**/android/app/*.jks
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/flutter_assets/
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*
*.lock
build/
**/android/.gradle
**/android/app/build
**/android/local.properties
**/android/**/generated/
**/android/**/build/
**/ios/.symlinks/
**/ios/Pods/
**/ios/Podfile.lock
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/Runner/Info.plist
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Podfile.lock
**/macos/Pods/
**/windows/flutter/generated_plugin_registrant.cc
**/windows/flutter/generated_plugins.cmake
**/linux/flutter/generated_plugin_registrant.cc
**/linux/flutter/generated_plugins.cmake
**/web/
**/test/
**/coverage/
**/coverage_badge.svg
